

.infotop-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.infologo-left {
  height: 50px;
}

.infologo-right {
  height: 120px;
}

.infomiddle-container {
    width: 100%;
    overflow-x: auto; 
    white-space: nowrap;
    padding: 10px 0;
  }

.infonav-links {
  display: flex;
  overflow-x: hidden; 
  white-space: nowrap; 
  background: #006838;
  padding: 20px;
  border-radius: 8px;
  scroll-behavior: auto;
  justify-content: center;
  
}


.infonav-links:hover,
.infonav-links:focus-within {
  overflow-x: auto;
}


.infonav-links a {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background: #016235;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.infonav-links::-webkit-scrollbar {
  height: 5px;
}

.infonav-links::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.infonav-links::-webkit-scrollbar-thumb:hover {
  background: white;
}
  